Podstawy/.~lock.CZ._2_ELEKCJA.doc#
Powiesc Mikolaja/.~lock.Orly na Krymie.odt#
Podstawy/.~lock.CZ._3_ZAKONCZENIE_WOJNY_Z_TURCJA.doc#
Podstawy/.~lock.Najważniejsi senatorowie i dygnitarze za czasów Jana III - lista alternatywna.doc#
**/*.tmp
~lock
$